/* fonts Work+Sans */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header section start */
header{
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
    max-width: 1100px;
    margin: 0 auto 0;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.logo-container img{
    width: 50px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.logo-container h3{
    font-size: 35px;
    font-weight: 700;
}
.first-word{
    color: #FF42A5;
}
.nav-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-item-container li{
    padding-right: 30px;
    list-style: none;
}
.nav-item-container a{
    text-decoration: none;
   font-size: 18px;
   font-weight: 500;
   color: #3C354F;
}
.follow-box{
    width: 180px;
    height: 40px;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#youtube{
    color: #F61C0D;
}
/* banner section start */
.banner{
    background-color: #FFF;
}
.banner-container{
    max-width: 1100px;
    margin: 50px auto;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-containt{
    width: 50%;
}
.banner-title1{
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #0B0223;
}
.banner-title2{
    width: 400px;
    font-size: 85px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-description{
    font-size: 20px;
    font-weight: 500px;
    color: #534C64;
    line-height: 46px;
}
.banner-button-container{
    display: flex;
    width: 300px;
}
.banner-button1{
    padding: 10px 20px;
    background-color: #FF42A5;
    border-radius: 45px;
    border: none;
    margin-top: 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-button2{
   padding: 10px 20px;
    background-color: #4EC5F7;
    border-radius: 45px;
    border: none;
    margin-top: 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600; 
    text-transform: uppercase;
    margin-left: 20px;
}
.banner-pic{
    width: 50%;
}
.banner-pic img{
    width: 100%;
}
/* funny videos section start */
.funny-videos{
    background-color: #FFF;
}
.funny-videos-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #0B0223;
    padding-top: 50px;
}
.funny-videos-title-style{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.funny-videos-description{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #534C64;
    margin-top: 8px;
}
.funny-videos-card-container{
    max-width: 1100px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.funny-videos-card{
    width: 100%;
    height: 380px;
    border-radius: 16px;
}
.funny-videos-card img{
    width: 100%;
}
.funny-videos-card-descripton{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #534C64;
    margin-top: 10px;
}
/* play instantly start */
.play-instantly{
    background-color: #FFF;
}
.play-instantly-container{
    max-width: 1100px;
    margin: 60px auto;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.play-instantly-containt{
    width: 50%;
    text-align: right;
}
.play-instantly-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #0B0223;
}
.play-instantly-title-style{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.play-instantly-description{
    width: 350px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #534C64;
    margin-left: 190px;

}

.play-instantly-pic{
    width: 50%;
}
.play-instantly-pic img{
      width: 100%;
}
.play-instantly-small{
    margin-left: -100px;
    margin-top: -180px;
}
.play-instantly-small img{
    width: 40%;
}
/* Games list section start */
.games-list-container{
    max-width: 1100px;
    margin: 50px auto;
    min-height: 200px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.games-list-containt{
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.games-logo-title{
    width: 150px;
    font-size: 12px;
    font-weight: 600px;
    color: #0B0223;
}
.games-logo-title:hover{
    color: #F61C0D;
}
.games-list-containt:hover{
    width: 200px;
    height: 70px;
    border-radius: 50px;
    background-color: #FFF;
    border: 1px solid #F61C0D;
}
/* footer section */
footer{
    background-color: #0B0223;
}
.footer-section{
    max-width: 1100px;
    min-height: 400px;
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-title-1{
    color: #FFF;
}
.footer-containt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
}
.footer-containt span{
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
}
.footer-icon i{
    color: #FFF;
    font-size: 30px;
}
.footer-privacy-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;   
}
.footer-privacy-text span{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
    margin-top: 40px;
}
.footer-copyraite{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
    margin-top: 20px;
}


/* media query section */

@media screen and (max-width: 576px) {
    .nav-container, 
    .nav-item-container ul, 
    .nav-item-container, 
    .banner-container, 
    .play-instantly-container {
        flex-direction: column;
    }
    .funny-videos-card-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
    .nav-container{
        height: 300px;
        justify-content: space-around;
    }
    .banner-container{
        flex-flow: column-reverse;
        gap: 50px;
    }
    .banner-container, 
    .funny-videos-card-container, 
    .play-instantly-container, 
    .footer-section{
        width: 300px;
    }
    .footer-icon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 50px;
    }
    .funny-videos-title{
        font-size: 30px;
    }
    .funny-videos-description{
        font-size: 14px;
    }
    .funny-videos-card{
        height: 420px;
    }
    .banner-containt, 
    .banner-pic, 
    .play-instantly-pic, 
    .play-instantly-containt{
        width: 100%;
        align-items: center;
    }
    .nav-item-container ul{
        margin-top: -90px;
        gap: 20px;
    }
    .follow-box{
        margin-top: 30px;
    }
    .play-instantly-description{
        margin-left: 0px;
        width: 290px;
        margin-top: 40px;
    }
    .play-instantly-container{
        gap: 50px;
    }
    .games-list-containt{
        width: 150px;
    }
}
